.form-input{
  width: 30%;
  cursor: pointer;
  left: 0;
  background-color: #EEE;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  margin-bottom: 2%;
}

.form-control{
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin-bottom: 2%;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

.btn-submit{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
